/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

 * {
    box-sizing: border-box;
    font-family: arial, sans-serif;
  }
  
  body {
    background: linear-gradient(#ffffff, #c0c0c0);
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  nav {
    align-items: center;
    background-color: #333333;
    color: #c0c0c0;
    display: flex;
    height: 80px;
    padding: 10px;
    justify-content: space-between;
  }
  
  main {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .receipt{
    margin: 5%;
    width: 40vmax;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(186, 202, 253);
  }

  .receipt-items{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
  }

  .products{
    margin: 2%;
    width: 40vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-buttons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .product-button{
    border-radius: 5px;
    border-color: none;
    color: #000000;
    background-color: rgb(186, 202, 253);
  }

  .expirations{
    margin: 2%;
    width: 85vmax;
    height: 40vmax;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
  }
  